################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PizzaPrice/bin/Debug/net6.0
/PizzaPrice/obj
/PizzaPrice.Tests/bin/Debug/net6.0
/PizzaPrice.Tests/obj
/PizzaPrice.Tests/bin/Release/net6.0
